<% layout('layouts/boilerplate') %>

<div>
    <h1>Preferences</h1>
</div>
<div>
    <form action="/preferences" method="POST" novalidate>
        <% for (const channel of channels) { %>
            <div>
                <input type="checkbox" id="<%= channel.name %>" name="channels[name]" value="<%= channel.url %>" <%= isContained(channel.url) ? 'checked' : '' %>>
                <label for="<%= channel.name %>"><%= channel.name %></label>
            </div>
        <% } %>
        <button>Submit</button>
    </form>
</div>