<% layout('layouts/boilerplate') %>

<div>
    <h1>Preferences</h1>
</div>
<div>
    <form action="/preferences" method="POST" novalidate>
        <% for (const channel of channels) { %>
            <div>
                <input type="checkbox" id="<%= channel.name %>" name="channels[name]" value="<%= channel.url %>" <%= isContained(userChannels, channel.url) ? 'checked' : '' %>>
                <label for="<%= channel.name %>"><%= channel.name %></label>
            </div>
        <% } %>
        <% for (const channel of userChannels) {
            if (!isContained(dbChannels, channel)) { %>
                <div>
                    <input type="checkbox" id="<%= channel %>" name="channels[name]" value="<%= channel %>" checked>
                    <label for="<%= channel %>"><%= channel %></label>
                </div>
            <% }
        } %>
        <div id="custom-inputs"></div>
        <button type="button" id="add-input">Add custom feed</button>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/js/addInput.js"></script>