<% layout('layouts/boilerplate') %>

<div>
    <h1>Preferences</h1>
</div>
<div>
    <form action="/preferences" method="POST" novalidate>
        <% for (const channel of channels) { %>
            <div>
                <input type="checkbox" id="<%= channel.name %>" name="channels[name]" value="<%= channel.url %>" <%= isContained(channel.url) ? 'checked' : '' %>>
                <label for="<%= channel.name %>"><%= channel.name %></label>
            </div>
        <% } %>
        <div id="custom-inputs"></div>
        <button type="button" id="add-input">Add custom feed</button>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/js/addInput.js"></script>