<% layout('layouts/boilerplate') %>

<div class="title-section">
    <h1>Preferences</h1>
</div>
<div class="checkbox-form">
    <form action="/preferences" method="POST" novalidate>
        <div class="columns">
            <div class="column">
                <% for (const channel of channels) { %>
                    <label for="<%= channel.name %>">
                        <div class="checkbox">
                            <p><%= channel.name %></p>
                            <input type="checkbox" id="<%= channel.name %>" name="channels[name]" value="<%= channel.url %>" <%= isContained(userChannelsUrl, channel.url) ? 'checked' : '' %>>
                        </div>
                    </label>                
                <% } %>
            </div>

            <div class="column">
                <% for (const channel of userCustomChannels) { %>
                    <label for="<%= channel.name %>">
                        <div class="checkbox">
                            <p><%= channel.name %></p>
                            <input type="checkbox" id="<%= channel.name %>" name="channels[name]" value="<%= channel.url %>" checked>
                        </div>
                    </label>
                <% } %>
            </div>
        </div>
        <!-- <div id="custom-inputs"></div>
        <a href="/preferences/add">Add custom feed</a> -->
        
        <button type="submit" class="btn-primary">Submit</button>
    </form>
</div>

<script src="/js/addInput.js"></script>