<% layout('layouts/boilerplate') %>
<div class="primary-section">
    <h1>Dashboard</h1>
    <div class="feed">
        <% for (const post of posts) { %>
            <div class="post">
                <div class="post-header">
                    <img src="https://s2.googleusercontent.com/s2/favicons?domain_url=<%= getShortUrl(post) %>" alt="">
                    <p class="post-data"><%= getShortUrl(post)  %> &#x2022; <%= compareDate(post) %></p>
                </div>
                <h4 class="post-title"><%= post.title %></h4>
                <a href="<%= post.link %>" target="_blank" class="post-read-more">Read full post</a>
            </div>
        <% } %>        
    </div>
</div>